@font-face {
	font-family: 'fontawesome';
	src: url('../fonts/fontawesome/fontawesome.eot');
	src: url('../fonts/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome.woff') format('woff'), url('../fonts/fontawesome/fontawesome.ttf') format('truetype'), url('../fonts/fontawesome/fontawesome.svg#fontawesome') format('svg');
}

/* Main container */
.cbp-vm-switcher {
	padding: 10px;
	margin-bottom: 20px;
	border: 3px solid #00aaff;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
	text-align: right;
	padding-bottom: 10px;
	border-bottom: 3px solid #00aaff;
}

.cbp-vm-options a {
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	color: #d0d0d0;
	margin: 2px;
	transition: color 0.3s ease-out;
}

.cbp-vm-options a:hover, .cbp-vm-options a.cbp-vm-selected {
	color: #00aaff;
}

.cbp-vm-options a:before {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

/* Clear eventual floats */
.cbp-vm-switcher ul li {
	display: block;
	position: relative;
}

/* IMAGE SIZE */
.cbp-vm-image img {
	display: inline-block;
	max-width: 100%;
	border: none;
}

.cbp-vm-title {
	margin: 0;
}

.cbp-vm-date {
	color: #c0c0c0;
}

.cbp-vm-add {
	color: #fff;
	background: #47a3da;
	padding: 10px 20px;
	border-radius: 2px;
	margin: 20px auto;
	display: inline-block;
	transition: background 0.2s;
}

.cbp-vm-add:hover {
	color: #fff;
	background: #02639d;
}

.cbp-vm-add:before {
	margin-right: 5px;
}

/* Common icon styles */
.cbp-vm-icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/**
 * 	Icons
 */

/* List */
.cbp-vm-list:before {
	content: "\e00a";
}

/* Grid */
.cbp-vm-grid:before {
	content: "\e00b";
}

/* Button */
.cbp-vm-add:before {
	content: "\e00c";
}

/* Individual view mode styles */

/* Grid view */
.cbp-vm-view-grid ul {
	text-align: center;
}

.cbp-vm-view-grid ul li {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.cbp-vm-view-grid .cbp-vm-details {
	margin: 0.3em;
	overflow: hidden;
	text-align: justify;
}

.cbp-vm-view-grid .cbp-vm-date {
	margin: 10px 0;
	font-size: 1.0em;
}

@media screen and (max-width: 57em) {
	.cbp-vm-view-grid ul li {
		width: 49%;
	}
}

@media screen and (max-width: 35em) {
	.cbp-vm-view-grid ul li {
		width: 100%;
	}
}

/* List view */
.cbp-vm-view-list li {
	padding: 10px 0;
	list-style-type: none;
	clear: both;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-date,
.cbp-vm-view-list .cbp-vm-add {
	vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-date {
	display: inline-block;
}

.cbp-vm-view-list .cbp-vm-image {
	width: 10%;
}

.cbp-vm-view-list .cbp-vm-title {
	width: 15%;
	margin: 0 5px;
	overflow: hidden;
}

.cbp-vm-view-list .cbp-vm-date {
	width: 15%;
}

.cbp-vm-view-list .cbp-vm-details {
	width: 40%;
	margin: 0 10px;
}

.cbp-vm-view-list .cbp-vm-add {
	width: 15%;
	min-width: 135px;
	max-height: 40px;
	text-align: center;
	float: right;
}

@media screen and (max-width: 70em) {
	.cbp-vm-view-list .cbp-vm-title,
	.cbp-vm-view-list .cbp-vm-date,
	.cbp-vm-view-list .cbp-vm-details {
		width: 70%;
	}

	.cbp-vm-view-list .cbp-vm-add {
		clear: both;
    	display: block;
		float: none;
	}

	.cbp-vm-view-list .cbp-vm-details,
	.cbp-vm-view-list .cbp-vm-date {
		margin-left: 5px;
	}

	.cbp-vm-view-list .cbp-vm-image,
	.cbp-vm-view-list .cbp-vm-details,
	.cbp-vm-view-list .cbp-vm-date {
		float: left;
	}

	.cbp-vm-view-list .cbp-vm-details {
		margin-bottom: 10px;
	}

	.cbp-vm-view-list .cbp-vm-image {
		height: 130px;
		width: 130px;
	}
}

@media screen and (max-width: 40em) {
	.cbp-vm-view-list .cbp-vm-image,
	.cbp-vm-view-list .cbp-vm-title,
	.cbp-vm-view-list .cbp-vm-details,
	.cbp-vm-view-list .cbp-vm-date,
	.cbp-vm-view-list .cbp-vm-add {
		display: block;
		float: none;
	}

	.cbp-vm-view-list .cbp-vm-title,
	.cbp-vm-view-list .cbp-vm-details,
	.cbp-vm-view-list .cbp-vm-date {
		margin: 0.3em auto;
		width: 100%;
	}

	.cbp-vm-view-list .cbp-vm-details {
		text-align: justify
	}

	.cbp-vm-view-list .cbp-vm-title,
	.cbp-vm-view-list .cbp-vm-date {
		text-align: center;
	}

	.cbp-vm-view-list .cbp-vm-image {
		margin: 0.2em auto;
		height: 130px;
		width: 130px;
	}

	.cbp-vm-view-list .cbp-vm-image img {
	  width: auto;
	}

	.cbp-vm-view-grid ul li {
		width: 100%;
	}
}